/node_modules
/public/hot
/public/storage
/public/img/person
/storage/*.key
/vendor
.env
.env.production
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
error_log
public/error_logo
