body {
    -webkit-font-smoothing: antialiased;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.25 !important;
    background-color: #f4f6f8 !important;
}